<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--SEO -->
    <title>@ViewBag.Title</title>
    @if (ViewBag.MetaNameTags != null)
    {
        foreach (var meta in ViewBag.MetaNameTags)
        {
            <meta name="@meta.Key" content="@meta.Value">
        }
    }
    @RenderSection("meta", required: false)

    <!--Fav Icons -->
    <partial name="Partial/_Favicons" />

    <!--Prefetch DNS lookups -->
    @*<link rel="dns-prefetch" href="https://fonts.googleapis.com">*@

    <!--Preload fonts and all.css -->
    @*<link rel="preload" href="~/css/all.css" asp-append-version="true" as="style" />*@

    <!--Inline critical css -->
    @*<style>@Html.Raw(Utilities.GetInlineFile("/css/critical.css"))</style>*@

    <link rel="stylesheet" href="~/css/all.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">$safeprojectname$</a>

            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>

    <partial name="Partial/_CookieConsentPartial" />

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!--Footer -->
    <partial name="Partial/_Footer" />

    <!-- JS -->
    <partial name="Partial/_InlineJS" />
    <script src="~/js/site.js" asp-append-version="true" async></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
